<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    @await Html.PartialAsync("_UserLoginPartial")
    <!-- #User Info -->
    <!-- Menu -->
    @await Html.PartialAsync("_MenuPartial")
    <!-- #Menu -->
    
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; 2019 <a href="#">Tuan - Admin</a>.
        </div>
        <div class="version">
            <b>Version: </b> 1.0.5
        </div>
    </div>
    <!-- #Footer -->
</aside>