@using Microsoft.AspNetCore.Mvc.Localization
@model LoginCodeFirst.ViewModels.Brand.IndexViewModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "Edit Brand";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="block-header">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    
    <!-- Basic Validation -->
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="body">
                    <h2 class="card-inside-title">Edit Brand</h2>
                    @if (ViewBag.Err != null)
                    {
                        <div class="alert alert-danger">
                            <strong>@ViewBag.Err</strong>
                        </div>
                    }

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <form asp-controller="Brand" asp-action="Edit" method="post">
                                <input asp-for="BrandId" type="hidden">
                                <div class="form-group">
                                    <label class="form-label" asp-for="BrandName"></label>
                                    <input type="text" asp-for="BrandName" placeholder="BrandName" class="form-control">
                                    <span class="text-danger" asp-validation-for="BrandName"></span>
                                </div>



                                <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #END# Basic Validation -->
</div>