@using Microsoft.AspNetCore.Mvc.Localization
@model LoginCodeFirst.ViewModels.Stock.IndexViewModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/addstyle.css"/>
<div class="container">
    @if (ViewBag.Err != null)
    {
        <p class="alert-danger">@ViewBag.Err</p> 
    }
    <div class="row">
        <div class="col-md-4">
            <div class="form_main">
                <h4 class="heading"><strong> @Localizer["Edit Stock"]</strong> <span></span></h4>
                <div class="form">
                    <form asp-controller="Stock" asp-action="Edit" method="post">
                        <input asp-for="StoreId" type="hidden">
                        <input asp-for="ProductId" type="hidden">
                        <div>
                            <label class="col-md-4 control-label"> @Localizer["QUANTITY"]*</label>
                            <input asp-for="Quantity" type="text" placeholder="Please input your Quantity"class="txt">
                            <span class="text-danger" asp-validation-for="Quantity"></span>
                        </div>
                        <input type="submit" value="submit" name="submit" class="txt2">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>