
@using Microsoft.AspNetCore.Mvc.Localization
@model LoginCodeFirst.ViewModels.User.PasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = "EditPassword";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/addstyle.css"/>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="form_main">
                <h4 class="heading"><strong> @Localizer["Add List"] </strong> <span></span></h4>
                    <form asp-action="EditPassword" asp-controller="User" method="post">
                        <input asp-for="UserId" type="hidden">
                        <div>
                            <label asp-for="Password" class="col-md-4 control-label"> @Localizer["PASSWORD"]*</label>
                            <input asp-for="Password" type="password" placeholder="Enter New Password" class="txt">
                            <span style="color: red" asp-validation-for="Password"></span>
                        </div>
                        <input type="submit" value="submit" class="txt2">
                    </form>
            </div>
        </div>
    </div>
</div>
